<header class="header-wrapper header-styles">
  <a class="nav-link brand-name" [routerLink]="['/dashboard']">
    Wallpapers
  </a>
  <div class="header-menu">
    <div class="header-link" *ngIf="!authService.loggedIn()" [routerLink]="['/login']">
      <a class="nav-link p-0 d-flex" [routerLink]="['/register']" [routerLinkActive]="['login-active']">
        <i class="bi bi-box-arrow-in-right menu-icon"></i>
        <span class="m-hide ml-1">
          Login/Register
        </span>
      </a>
    </div>
    <div class="header-link" (click)="menuOpen()" *ngIf="authService.loggedIn()">
      <i class="bi bi-list menu-icon"></i>
      <span class="m-hide">Menu</span>
    </div>
    <div class="menu-overlay" appOutside (clickOutside)="clickedOut($event)" *ngIf="menuBlock">
      <div class="menu-items">
        <div class="menu-item" (click)="menuOpen()"><a class="nav-link" [routerLink]="['/dashboard']"
            [routerLinkActive]="['active']">Dashboard</a></div>
        <div class="menu-item" (click)="menuOpen()"><a class="nav-link" [routerLink]="['/profile']"
            [routerLinkActive]="['active']">Profile</a></div>
        <hr />
        <div class="menu-item" (click)="menuOpen()"><a class="nav-link" (click)="logout()">Logout</a></div>
      </div>
    </div>
  </div>
</header>
