<section class="images-section d-flex gap-2 flex-wrap">
  <div class="image-block ml-2 mb-2" *ngFor="let imageData of imagesData">
    <img class="image-data" src="{{imageData.src.medium}}" alt="image" />
  </div>
</section>

<div class="credits d-flex align-items-center flex-column my-4">
  <a href="https://www.pexels.com">Photos provided by Pexels</a>
  <a class="credits-logo mt-2" href="https://www.pexels.com">
    <img src="https://images.pexels.com/lib/api/pexels-white.png" />
  </a>
</div>
