<section class="landing-warapper page-content">
  <div class="profile-oval">
    <img src="assets/images/profile.png" alt="img" class="profile-image"/>
  </div>
  <div class="landing-section">
    <div class="web-developer">Web Developer</div>
  </div>
  <div class="social-network">
    <a href="https://www.linkedin.com/in/narasimha-murthy-05570417a" target="_blank">
      <i class="bi bi-linkedin social-media-icons"></i>
    </a>
    <a href="https://www.instagram.com/_murthy_majji_/" target="_blank">
      <i class="bi bi-instagram social-media-icons"></i>
    </a>
    <a href="https://www.facebook.com/naveen.murthy.56" target="_blank">
      <i class="bi bi-facebook social-media-icons"></i>
    </a>
    <a href="https://github.com/Naveen-Murthy" target="_blank">
      <i class="bi bi-github social-media-icons"></i>
    </a>
  </div>
</section>
